                        Imperial    Southampton
                        College     (S)
                        (IC)
Student numbers
Undergraduates          161         105

Taught postgraduates    111         12

Research postgraduates  32          2

Total number            304         119

Expenditure (£'000)
General expenditure     970         177

Equipment expenditure   64          10

Total expenditure       1034        187

Other data

Academic staff          35          7

Research income         220         22

Research rating         3           3

In [6]:
from beautifultable import BeautifulTable

table = BeautifulTable()
table.column_headers = ["liczba studentów:", "Imperial", "Southampton"]
table.append_row(["Studenci", 161, 105])
table.append_row(["Nauczanie podyplomowi", 111,12])
table.append_row(["Studia podyplomowe",32,2 ])
table.append_row(["Łączna liczba",161+111+32,105+12+2 ])
print(table)

+-----------------------+----------+-------------+
|   liczba studentów:   | Imperial | Southampton |
+-----------------------+----------+-------------+
|       Studenci        |   161    |     105     |
+-----------------------+----------+-------------+
| Nauczanie podyplomowi |   111    |     12      |
+-----------------------+----------+-------------+
|  Studia podyplomowe   |    32    |      2      |
+-----------------------+----------+-------------+
|     Łączna liczba     |   304    |     119     |
+-----------------------+----------+-------------+

In [5]:
from beautifultable import BeautifulTable

table = BeautifulTable()
table.column_headers = ["wydatki:", "Imperial", "Southampton"]
table.append_row(["Wydatki ogólne", 970, 177])
table.append_row(["Wydatki na sprzęt", 64,10])
table.append_row(["Łączna liczba",970+64,177+10 ])
print(table)

+-------------------+----------+-------------+
| liczba studentów: | Imperial | Southampton |
+-------------------+----------+-------------+
|  Wydatki ogólne   |   970    |     177     |
+-------------------+----------+-------------+
| Wydatki na sprzęt |    64    |     10      |
+-------------------+----------+-------------+
|   Łączna liczba   |   1034   |     187     |
+-------------------+----------+-------------+

In [8]:
from beautifultable import BeautifulTable

table = BeautifulTable()
table.column_headers = ["Inne dane:", "Imperial", "Southampton"]
table.append_row(["Kadra akademicka", 35, 7])
table.append_row(["Przychody z badań", 220,22])
table.append_row(["Stopień badań",3,3 ])
print(table)

+-------------------+----------+-------------+
|    Inne dane:     | Imperial | Southampton |
+-------------------+----------+-------------+
| Kadra akademicka  |    35    |      7      |
+-------------------+----------+-------------+
| Przychody z badań |   220    |     22      |
+-------------------+----------+-------------+
|   Stopień badań   |    3     |      3      |
+-------------------+----------+-------------+

Należy porównać dwie uczelnie - Należy ocenić efektywność wydatków na sprzęt i ogółem w odniesieniu do innych czynników

In [10]:
from beautifultable import BeautifulTable

table = BeautifulTable()
table.column_headers = ["liczba studentów:", "Imperial", "Southampton"]
table.append_row(["Studenci", 161, 105])
table.append_row(["Nauczanie podyplomowi", 111,12])
table.append_row(["Studia podyplomowe",32,2 ])
table.append_row(["Łączna liczba",161+111+32,105+12+2 ])
print(table)

+-----------------------+----------+-------------+
|   liczba studentów:   | Imperial | Southampton |
+-----------------------+----------+-------------+
|       Studenci        |   161    |     105     |
+-----------------------+----------+-------------+
| Nauczanie podyplomowi |   111    |     12      |
+-----------------------+----------+-------------+
|  Studia podyplomowe   |    32    |      2      |
+-----------------------+----------+-------------+
|     Łączna liczba     |   304    |     119     |
+-----------------------+----------+-------------+

##### $
\left\{
\begin{align} 
y_{Imperial} = \frac{{161x_{1}} + 111x_{2}+32x_{3}+220x_{4}}{970x_{5}+64x_{6}}&&(1)\\
y_{Southampton} = \frac{{105x_{1}} + 12x_{2}+2x_{3}+22x_{4}}{177x_{5}+10x_{6}}&&(2)\\
\end{align}
\right. 
$

$x_{1}$ to waga przypisywana studentom

$x_{2}$  to waga przypisywana nauczanym absolwentom

$x_{3}$ to waga przypisywana absolwentom studiów podyplomowych

$x_{4}$  to waga przypisywana dochodom z badań

$x_{5}$  to waga przypisana wydatkom ogólnym

$x_{6}$  wyposażeniu to ciężar związany z wydatkami na sprzęt

$y_{Imperial}$ to wydajność Imperial College (wyrażona jako ułamek)

$y_{Southampton}$ to wydajność Southampton (wyrażona jako ułamek)

Warunki znakowe:
#### $
\left\{
\begin{align} 
0&\leqslant y_{Imperial}\leqslant 1& (11)\\
0&\leqslant y_{Southampton} \leqslant 1& (12)\\
\end{align}
\right. 
$


Warunki znakowe:
#### $
\left\{
\begin{align} 
{x_{1}} & \geqslant 0& (11)\\
{x_{2}} & \geqslant 0& (12)\\
{x_{3}} & \geqslant 0& (13)\\
{x_{4}} & \geqslant 0& (14)\\
{x_{5}} & \geqslant 0& (15)\\
{x_{6}} & \geqslant 0& (15)\\
\end{align}
\right. 
$